/* Article Styles */
.article {
    height: 100vh;
    display: none;
    animation: fadeIn 0.5s ease;
    height: 100%;
    width: 100%;
    
  }
 
  
  .article.active {
    display: block;
  }
  
  .article-header {
    margin-top: 7%;
    margin-bottom: 2rem;
    height: 100px;
    background-color: var(--article-title);
  }
  .article-header h1
  {  
    color: var(--dark-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .article-header p{
    color: var(--dark-color);
    font-size: 1.4rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify
  }
  
  .article-content {
    display: flex;
    flex-direction: row; /* Affiche les blocs enfants en ligne */
    justify-content: center; /* Centre les blocs horizontalement */
    align-items: center; /* Centre les blocs verticalement */
    line-height: 1.8;
    gap: 1rem; /* Ajoute un espace entre les blocs enfants, ajustez selon vos besoins */
}
  
  .article-image {
    max-width:300 ;
    max-height: auto;
    border-radius: 8px;
    margin: 2rem 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  }